<div id="footer">
    <div>
        <div class="upper">

            <div class="grid_3">
                <h5>
                    Land Surveys
                </h5>
                <p>
                    161 East Market Street<br/> Rhinebeck, NY 12572<br/> Call: (845) 876-7423<br/> Fax: (845) 876-5650
                </p>
            </div>
        </div>
        <div class="legality">
            <div>
                Copyright &copy;
                <script type="text/javascript">
                    var dteNow = new Date();
                    var intYear = dteNow.getFullYear();
                    document.write(intYear);
                </script> Land Surveys
            </div>
        </div>
    </div>
</div>
<!--div#footer end -->