<div id="header">
      		<div class="grid_12">
        		<div id="top_links">
          			<div>
          				<ul class="menu nocufon">
          					<li><a href="about">About Us</a></li>
							
						</ul>
					</div>        
				</div>
        		<div id="logo">
        			<a href="index" class="nocufon">
        		      	<h1>Land Surveys</h1>
	      		    </a>
        		</div>         
    		</div>	
			<div id="navigation">
		  		<!-- <div class="right grid_3">		
					<form method="get" id="searchform" action="#">
						<div>
							<input type="text" value="" name="s" id="s" />                
					        <button id="searchsubmit" type="submit">Search</button>
						</div>
					</form>		  
				</div> -->
		  		<div class="grid_9">
			 		<div>
			 			<ul class="menu">
			 				<li>
			 					<a href="index"><strong>Home</strong></a>
			 				</li>
			 				<li>
			 					<a  href="services"><strong>Services</strong></a>
								<!-- <ul class="sub-menu">
									<li><a href="blog_full_image.html">Full Width Listing<span></span></a></li>
									<li><a href="blog_big_image.html">Big Image Listing<span></span></a></li>
									<li><a href="blog_small_image.html">Small Image Listing<span></span></a></li>
								</ul> -->
							</li>
							<li>
								<a  href="areas"><strong>Areas Covered</strong></a>
								<!-- <ul class="sub-menu">
									<li><a href="contact-us.html">Contact Us<span></span></a></li>
									<li><a href="testimonials_text.html">Testimonials sans Images<span></span></a></li>
									<li><a href="testimonials_images.html">Testimonials with Images<span></span></a></li>
								</ul> -->
							</li>
							<li>
								<a href="faqs"><strong>FAQs</strong></a>
								<!-- <ul class="sub-menu">
									<li><a href="portfolio_1column.html">Portfolio 1 Column<span></span></a></li>
									<li><a href="portfolio_2column.html">Portfolio 2 Column<span></span></a></li>
									<li><a href="portfolio_3column.html">Portfolio 3 Column<span></span></a></li>
									<li><a href="portfolio_4column.html">Portfolio 4 Column<span></span></a></li>
								</ul> -->
							</li>						
						</ul>
					</div>		  
				</div>
			</div>
			<!--div#navigation end -->
			
  		</div>
  		<!--div#header end -->