<div id="header">
      		<div class="grid_12">
        		<div id="top_links">
          			<div>
          				<ul class="menu nocufon">
          					<li><a href="#">About Us</a></li>
							<li><a href="#">Meta</a></li>
							<li><a href="#">Login</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>        
				</div>
        		<div id="logo">
        			<a href="home.php" class="nocufon">
        		      	<img src="images/logo.png" alt="Grounded" />
	      		    </a>
        		</div>         
    		</div>	
			<div id="navigation">
		  		<div class="right grid_3">		
					<form method="get" id="searchform" action="#">
						<div>
							<input type="text" value="" name="s" id="s" />                
					        <button id="searchsubmit" type="submit">Search</button>
						</div>
					</form>		  
				</div>
		  		<div class="grid_9">
			 		<div>
			 			<ul class="menu">
			 				<li>
			 					<a href="blog.php"><strong>Blog</strong></a>
								<ul class="sub-menu">
									<li><a href="blog_full_image.php">Full Width Listing<span></span></a></li>
									<li><a href="blog_big_image.php">Big Image Listing<span></span></a></li>
									<li><a href="blog_small_image.php">Small Image Listing<span></span></a></li>
								</ul>
							</li>
							<li>
								<a  href="page.php"><strong>Pages</strong></a>
								<ul class="sub-menu">
									<li><a href="contact-us.php">Contact Us<span></span></a></li>
									<li><a href="testimonials_text.php">Testimonials sans Images<span></span></a></li>
									<li><a href="testimonials_images.php">Testimonials with Images<span></span></a></li>
								</ul>
							</li>
							<li>
								<a  href="#"><strong>Portfolio</strong></a>
								<ul class="sub-menu">
									<li><a href="portfolio_1column.php">Portfolio 1 Column<span></span></a></li>
									<li><a href="portfolio_2column.php">Portfolio 2 Column<span></span></a></li>
									<li><a href="portfolio_3column.php">Portfolio 3 Column<span></span></a></li>
									<li><a href="portfolio_4column.php">Portfolio 4 Column<span></span></a></li>
								</ul>
							</li>
							<li>
								<a  href="#"><strong>Features</strong></a>
								<ul class="sub-menu">
									<li>
										<a href="#">Slider Homepage Options<span></span></a>
										<ul class="sub-menu">
											<li><a href="home-v2.php">Content Slider<span></span></a></li>
											<li><a href="home.php">Full Image Slider<span></span></a></li>
											<li><a href="home-v3.php">Nivo Slider<span></span></a></li>
										</ul>
									</li>
									<li>
										<a  href="#">Navigation<span></span></a>
										<ul class="sub-menu">
											<li><a  href="home.php">Box Style with Title<span></span></a></li>
											<li><a  href="home-v2.php">Grounded Style<span></span></a></li>
										</ul>
									</li>
									<li>
										<a  href="#">Home Featured Posts<span></span></a>
										<ul class="sub-menu">
											<li><a  href="home-v2.php">2 Posts and Recent Posts<span></span></a></li>
											<li><a  href="home-v3.php">3 Posts<span></span></a></li>
											<li><a  href="home.php">4 Posts<span></span></a></li>
										</ul>
									</li>
									<li><a  href="foreground-color-white.php">Foreground Color White<span></span></a></li>
								</ul>
							</li>
							<li>
								<a href="#"><strong>Additional</strong></a>
								<ul class="sub-menu">
									<li><a  href="feature-lists.php">Feature Lists<span></span></a></li>
									<li><a  href="pricing-grids.php">Pricing Grids<span></span></a></li>
									<li><a  href="columns.php">Columns<span></span></a></li>
									<li><a  href="bullets-and-lists.php">Bullets and Lists<span></span></a></li>
									<li><a  href="buttons.php">Buttons<span></span></a></li>
									<li><a  href="imagevideo.php">Image/Video<span></span></a></li>
									<li><a  href="gallery.php">Gallery<span></span></a></li>
									<li><a  href="boxes.php">Boxes<span></span></a></li>
								</ul>
							</li>
						</ul>
					</div>		  
				</div>
			</div>
			<!--div#navigation end -->
			
  		</div>
  		<!--div#header end -->
