@charset "utf-8";
* {
	margin: 0;
	padding:0;
}
label, th {
	font-weight: normal;
	text-align:left;
}
ul, ol, li {
	list-style: none;
}
img {
	border: none;
}
blockquote, q {
	quotes:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0;
	text-align: left;
}
caption {
	text-align: center;
	padding: 5px 0;
}
.alignleft, .left {
	float:left;
}
.alignright, .right {
	float:right;
}
img.alignleft, .entry .alignleft {
	margin-right: 20px;
	margin-bottom:5px!important;
}
img.alignright, .entry .alignright {
	margin-left: 20px;
	margin-bottom:5px!important;
}
.a-right {
	text-align:right;
}
.a-center {
	text-align:center;
}
.half {
	width: 49%;
}
.required {
	background:url(../images/required.png) no-repeat left top;
	display:block;
	right: 10px;
	top: 8px;
	color:#FD3C72;
	height:0;
	padding-top:15px;
	overflow:hidden;
	position:absolute;
	width:55px;
	opacity:0.9;
	filter: alpha(opacity=90);
}
#wp-calendar {
	width: 100%;
	margin-top: 5px;
}
#wp-calendar caption {
	font-weight: bold;
	color: #222;
	text-align: center;
	font-size: 14px;
	padding-bottom: 4px;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	padding: 3px 0 2px;
	background: #f5f5f5;
	border: 1px solid #ccc;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
	border: 0;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.wp-caption {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color:#999;
}
.wp-caption-text {
	text-align: center;
	margin-top:5px;
	padding-right:10px;
}
.alignleft.wp-caption, img.alignleft {
	margin-left: -80px;
}
.alignleft .wp-caption-text {
	text-align:right;
}
.wpcf7-response-output {
	clear: both;
	margin: 0 !important;
}
.wpcf7-not-valid-tip {
	padding: 0 10px !important;
	left: 10px !important;
}
.ajax-loader {
	display: none;
}
h1 + .entry {
	padding-top: 10px!important;
	background: none!important;
}
.entry {
	line-height: 1.4em;
	font-size:13px;
	width:100%;
	float:left;
}
.entry > *, .entry .half > * {
	margin-bottom: 15px;
}
.entry h1 {
	font-size:20px;
}
.entry h2 {
	font-size:18px;
}
.entry h3 {
	font-size:16px;
}
.entry h4 {
	font-size:13px;
	text-transform:uppercase;
}
.entry > h2, .entry > h3, .entry > h4, .entry > h4, .entry > h6 {
	margin-bottom:5px;
}
.entry ul, .entry ol {
	padding: 0 10px;
	clear:both;
}
.entry ul li {
	margin: 0 0 0 18px;
	list-style: disc;
}
.entry ol li {
	list-style: decimal;
	margin: 2px 0 2px 18px;
}
.entry blockquote {
	border-left: solid 3px #00aeef;
	margin-left: 10px;
	padding: 5px 0 5px 10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size:12px;
}
form p {
	position: relative;
	margin-bottom:15px;
}
form label {
	float:left;
	position:absolute;
	margin-left:7px;
	margin-top:5px;
	color:#a3b1c3;
}
input[type=text], input[type=email], textarea {
	background: url(../images/bg-input.png);
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:12px;
	width: 95%;
	padding: 7px 2.5%;
	border: none;
	color:#a3b1c3;
	box-shadow:  0 0 1px rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
#sidebar + div input[type=text], #sidebar + div input[type=email], #sidebar + div textarea {
	padding:7px 10px;
	width:280px;
}
input[type=submit], .button {
	display: inline-block;
	background: url(../images/btn.jpg) no-repeat right top;
	height:33px;
	line-height:32px;
	color:#fff!important;
	text-align: center;
	padding-right: 45px;
	padding-left: 15px;
	font-size:15px;
	cursor: pointer;
	font-weight:bold;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	border: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 #81ceee;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 #81ceee;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 #81ceee;
}
input[type=submit] {
	height:34px!important;
	background-position: left top;
	padding: 0 15px;
}
input[type=submit]:hover, .button:hover {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 #46a5d2;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 #46a5d2;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 #46a5d2;
}
.button:hover {
	background-position: right -33px;
}
input[type=submit]:hover {
	background-position: left -32px;
}
.divider {
	clear:both;
	height:1px;
	border-bottom: solid 1px #424b55;
	background: #1c232a;
	margin-top: 30px;
	margin-bottom:30px;
}
.container_12 > .divider:first-child {
	background:#2f3741;
	border-bottom:solid 1px #59616a;
}
.button.big {
	background-image:url(../images/big-button.jpg);
	height:43px;
	line-height: 42px;
	padding: 0 20px!important;
	font-size:20px;
}
.button.big:hover {
	background-position: left -43px!important;
}
.btn-show-code {
	display: inline-block;
	background: url(../images/btn-show-code.gif) no-repeat left top;
	height:29px;
	line-height:28px;
	color:#fff!important;
	text-align: center;
	padding: 0 15px 0 25px;
	font-size:13px;
	cursor: pointer;
	font-weight:bold;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 0 #0e1e8a;
	border: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

}
.btn-show-code.open { background-position: left -29px;}