@charset "utf-8";
.thumbnail {
     box-shadow: none;
     -moz-box-shadow: none;
	 -webkit-box-shadow: none;
	 background: none;
	 border-radius: 0;
	 -moz-border-radius: 0;
	 -webkit-border-radius: 0;
	 padding: 5px 5px 0;
	 position: relative;
}
.nivo-controlNav {bottom:-43px!important;}