@charset "utf-8";
.thumbnail {
     box-shadow: 0 0 3px rgba(0,0,0,0.6);
     -moz-box-shadow: 0 0 3px rgba(0,0,0,0.6);
	 -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.6);
	 border-radius: 0;
	 -moz-border-radius: 0;
	 -webkit-border-radius: 0;
	 padding: 5px 5px 0;
	 position: relative;
}
.thumbnail b, .thumbnail em { display: block; background-image: url(../images/bg-grounded.png); background-repeat: no-repeat;}

.thumbnail b { position: absolute;z-index:89; width:100%; background-position: left bottom; padding: 0 0 0 10px; left: -10px; bottom: -1px;}
.thumbnail b em { height: 20px; width:100%; padding-right: 10px; margin-right:-10px; background-position: right bottom; }
.nivo-controlNav { bottom: -44px!important;}